<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <h1 style="color: blueviolet; padding: 0 0 0 35%;">WELCOME TO THE ADMIN PRODUCTS' PAGE</h1>
            <main>
                <p>List of some of the products...</p>
                <h1>My Products</h1>
                <p>List of all the products...</p>
                <% if (products.length> 0) { %>
                    <div class="grid">
                        <% for (let prod of products ) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= prod.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= prod.imageUrl %>" alt="<%= prod.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$<%= prod.price%>
                                    </h2>
                                    <p class="product__description">
                                        <%= prod.description%>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <button class="btn"> <a href="/admin/edit-product/<%=prod.id%>?edit=true">Edit
                                            product</a></button>
                                    <form action="/admin/delete-product" method="post">
                                        <input type="hidden" name="productId" id="id" value="<%=prod.id%>">
                                        <button class="btn" type="submit">Delete product</button>
                                    </form>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No products as of now</h1>
                        <% } %>
            </main>
    </body>

    </html>